<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.edu.mapper.ActivityEnrollMapper">

    <resultMap id="BaseResultMap" type="com.group.edu.entity.ActivityEnroll">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="tel" column="tel" />
            <result property="sex" column="sex" />
            <result property="activity" column="activity" />
            <result property="img" column="img" />
            <result property="activityDate" column="activity_date" />
            <result property="createDate" column="create_date" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,tel,sex,activity,img,
        activity_date,create_date
    </sql>
</mapper>
