<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.edu.mapper.ClassSelectMapper">

    <resultMap id="BaseResultMap" type="com.group.edu.entity.ClassSelect">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="classId" column="class_id" />
            <result property="className" column="class_name" />
            <result property="img" column="img" />
            <result property="tag" column="tag" />
            <result property="certLink" column="cert_link" />
            <result property="createDate" column="create_date" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,class_id,class_name,img,tag,
        cert_link,create_date
    </sql>
</mapper>
