<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.edu.mapper.MarkingMapper">

    <resultMap id="BaseResultMap" type="com.group.edu.entity.Marking">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="point" column="point" />
            <result property="content" column="content" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,point,content
    </sql>
</mapper>
